.card_container
{
    height: 220px;
    width: 730px;      
}

.card
{
    height: 200px;
    width: 130px;  
    margin-right: 1%;  
    margin-top: 20px;      
    border-style: outset;
    border-radius: 6%;
    background-size: cover;
    display: inline-block;
}